$site-radius: 7px;
$site-padding: 30px;
$local-url: "http:localhost:8084";
$remote-url: "http://localhost:8083";
$custom-font-path: "../webfonts" !default;
$large-header-size: 450px;
$menu-size: 80px;
$header-background-position: calc(100vw / -10);
