@import 'colors';
@import 'sticky-menu';
@import 'site-variables';
@import './font-awesome/fontawesome';
@import './font-awesome/regular';
@import './font-awesome/brands';
@import './font-awesome/solid';
@import 'fonts';
@import 'forms';
@import 'Header';

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}


nav.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: $menu-size;
    background-color: $midBrown;

    li {
        list-style: none;
    }
}


/* Nav dropdown css */

 /* Dropdown Button */
.dropdown-title {
    background-color: $teal;
    color: white;
    padding: 0px 26px;
    font-size: 16px;
    border: none;
    height: $menu-size;

}

/* The container <div> - needed to position the dropdown content */
.dropdown-menu {
    position: relative;
    display: inline-block;
}

.right-menu {
    right: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-links {
    display: none;
    position: absolute;
    background-color: $veryDarkGrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: $site-radius;
    border-bottom-right-radius: $site-radius;
}

/* Links inside the dropdown */
.dropdown-links a {
    color: $offWhite;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-links a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-links {
    display: flex;
    justify-content: center;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-menu:hover .dropdown-title {
    background-color: $darkTeal;
} 

/* Loading Teaser Content */
.teaser-article {
    min-height: 400px;
    background-color: $offWhite;
    padding: $site-padding 0px $site-padding + 75px;
    border-radius: $site-radius;
    margin: 50px;
}

.loading-teaser-header {
    background-color: $midLightGrey;
    border-radius: $site-radius;
    width: 40%;
    height: 50px;
    margin: 50px;
}

.teaser-line {
    border-radius: $site-radius;
    background-color: $midLightGrey;
    width: calc(100% - (2 * $site-padding));
    height: 30px;
    margin: 20px 50px;
}

.content-wrapper {
    width: calc(80% - $site-padding *2);
    margin: $site-padding auto;
}

/* Spinner Styles */
.loading-spinner {
    animation: rotation 1.5s infinite linear;
    margin: 40px auto;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/* LoginMenu.jsx Styles */
.login-menu-form {
    margin: 30px;

    label {
        color: $offWhite;
    }

    input {
        margin-bottom: 10px;
    }
}