@import 'colors';
@import 'sticky-menu';
@import 'site-variables';
@import './font-awesome/fontawesome';
@import './font-awesome/regular';
@import './font-awesome/brands';
@import './font-awesome/solid';
@import 'fonts';

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    top: 0px;
    position: absolute;
    top: 0px;
}

section.main-header {
    background-color: $headerPreloadColor;
    background-image: url('../assets/seminarycover50.jpg');
    background-position-x: center;
    background-size: cover;
    background-position-y: $header-background-position;
    background-repeat: no-repeat;
    min-height: $large-header-size;
    padding: 50px;
    color: $offWhite;
}

nav.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px;
    height: $menu-size;
    background-color: $midBrown;

    li {
        list-style: none;
    }
}
