@import 'colors';
@import 'site-variables';

img.header-hero {
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
    top:0px;
    left: 0px;
}

section.main-header {
    background-image: url('../assets/seminarycoververysmall.jpg');
    background-position-x: center;
    background-size: cover;
    background-position-y: $header-background-position;
    background-repeat: no-repeat;
    height: $large-header-size;
    color: $offWhite;
    overflow: hidden;

}

section.header-text {
    margin: 50px;
    max-width: 350px;
    z-index: 8000;
    position: absolute;
}
